<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlServer"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DBLocadoraDeVeiculos;Integrated Security=True;Pooling=False" />

		<add name="SQLite"
			providerName="System.Data.SQLite"
			connectionString="Data Source=..\..\..\eAgenda.Database.SqLite\DBLocadoraDeVeiculo.db;Version=3" />
	</connectionStrings>

	<appSettings>
		<add key ="bancoDeDados" value="SqlServer"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>